// font stack
$font-stack: "Montserrat", Helvetica, Arial, Lucida, sans-serif;

// Colors
$white: #ffffff;
$black: #0e1111;
$black2: #2b2b2b;
$yellow: #ffe500;
$light-gray: #f1f3f5;
$mid-blue: #0935f3;
